.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: blue;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar-link {
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 5px;
  color: #333;
  transition: all 0.2s;
  position: relative;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #333;
  transition: all 0.2s;
  width: 0;
}
.navbar-link:hover::before {
  background-color: #333;
  width: 90%;
}
.TitleJWT {
  justify-content: flex-start;
  display: flex;
}